@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600');

/*Colors*/

$brand-color: #F0433A;
$brand-color-dark: #a73737;

$light-grey: #f8f8f8;
$dark-grey: #eee;
$white: #fff;

$scrollbar-color: #999999;

$local-message-color: #ffcac9;
$foreign-message-color: $light-grey;

/*Typography*/

$text-light: #6e7480;
$text-dark: #484c55;
$text-black: #222;

$light-icon: #9c9c9c;
$dark-icon: #757575;

$brand-font: 'Source Sans Pro', sans-serif;

$icon-font-size: 1.6em;
$panel-title-font-size: 1.5em;

$slider-input-font-size: 1.3em;

$splash-name-font-size: 4em;

$chat-textbox-font-size: 1.3em;
$chat-action-button-font-size: 1.3em;

$message-text-font-size-desktop: 1.1em;
$message-timestamp-font-size-desktop: .8em;
$message-text-font-size-mobile: .8em;
$message-timestamp-font-size-mobile: .6em;

/*Miscelaneous*/

$lighter-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
$light-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);

$light-border-radius: 2px;
$regular-border-radius: 5px;

$light-border: 1px solid $dark-grey;

$light-padding: 3px;
$regular-padding: 5px;
$strong-padding: 10px;
$stronger-padding: 20px;

$light-margin: 3px;
$regular-margin: 5px;
$strong-margin: 10px;

$light-transition: .1s ease;

$regular-transtition: .3s ease;

$message-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);

/*Widths and heights*/

$app-wrapper-gradient-height: 133px;

$main-panel-desktop-height: 95%;
$main-panel-desktop-max-width: 1100px;
$main-panel-tablet-height: 100%;
$main-panel-tablet-width: 100%;

$sidebar-desktop-width: 400px;
$sidebar-table-width: 30%;
$sidebar-header-height: 60px;

$client-picture-width: 50px;
$client-picture-height: 50px;

$user-item-height: 75px;

$user-item-picture-height: 50px;
$user-item-picture-width: 50px;

$user-new-message-height: 7px;
$user-new-message-width: 7px;

$slider-client-picture-height: 200px;
$slider-client-picture-width: 200px;

$slider-modify-button-width: 30px;

$chat-wrapper-desktop-width: 700px;
$chat-wrapper-tablet-width: 70%;
$chat-header-height: $sidebar-header-height;

$chat-input-height: $chat-header-height;
$chat-input-height-mobile: 45px;

$splash-logo-height: 100px;
$splash-logo-width: 100px;

$action-button-width: 45px;
$action-button-height: $action-button-width;

$action-button-width-mobile: 35px;
$action-button-height-mobile: $action-button-width-mobile;

/*Media queries*/

$tablet: "only screen and (max-width : 1150px)";
$mobile: "only screen and (max-width : 800px)";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $brand-font;
}

.app-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $light-grey;
    /*background: linear-gradient(to bottom, $brand-color-dark 0%, $brand-color-dark $app-wrapper-gradient-height, $dark-grey $app-wrapper-gradient-height);*/
    background-image: url(https://wallpaperscraft.com/image/giau_pass_italy_alps_118374_3840x2400.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    color: $text-dark;
}

#app{
    @media #{$tablet}{
        width: 100%;
        height: 100%;
    }
}

.main-panel{
    display: flex;
    flex-direction: row;

    box-shadow: $light-box-shadow;

    height: $main-panel-desktop-height;
    max-width: $main-panel-desktop-max-width;

    border-radius: $light-border-radius;

    overflow: hidden;

    @media #{$tablet}{
        max-width: none;
        height: $main-panel-tablet-height;
        width: $main-panel-tablet-width;
    }

    @media #{$mobile}{
        display: block;
    }

    .sidebar{
        position: relative;
        display: flex;
        flex-direction: column;
        width: $sidebar-desktop-width;
        background-color: $white;

        @media #{$tablet}{
            width: $sidebar-table-width;
        }

        @media #{$mobile}{   
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0%;

            transition: $regular-transtition;

            &.hidden{
                left: -100%;
            }
        }

        .sidebar-header{
            display: flex;
            flex-direction: row;
            align-items: center;
            min-height: $sidebar-header-height;

            background-color: $light-grey;

            padding: $regular-padding;

            border-bottom: $light-border;

            justify-content: space-between;
            border-right: $light-border;

            .item{
                display: flex;
                flex-direction: row;

                .client-picture{
                    height: $client-picture-height;
                    width: $client-picture-width;
                    background-size: cover;
                    border-radius: $client-picture-height;
                }
    
                .client-body{
                    display: flex;
                    flex-direction: column;
                    margin-left: $strong-margin;
                    justify-content: center;
    
                    .client-name{
                        font-weight: 600;
                    }
    
                    .client-about{
    
                    }
                }
    
                .client-modify{
                    position: relative;
                    color: $light-icon;
                    right: 6px;
                    font-size: $icon-font-size;

                    svg{
                        margin-left: $light-margin;

                        &:hover{
                            cursor: pointer;
                            color: $dark-icon;
                        }
                    }
                }
            }            
        }

        .sidebar-body{

            .user-list{
                display: flex;
                flex-direction: column;
                overflow-y: auto;
                max-height: calc(100% - #{$sidebar-header-height});

                .user-item{
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    min-height: $user-item-height;

                    border-bottom: $light-border;
                    padding: $regular-padding;

                    transition: $light-transition;

                    &:hover{
                        cursor: pointer;
                        background-color: $light-grey;
                    }

                    &.selected{
                        background-color: $dark-grey;
                    }

                    .user-picture{
                        height: $user-item-picture-height;
                        width: $user-item-picture-width;
                        background-size: cover;
                        border-radius: $user-item-picture-width;
                    }

                    .user-body{
                        display: flex;
                        flex-direction: column;
                        margin-left: $strong-margin;

                        .user-name{
                            font-weight: 600;
                        }

                        .user-about{

                        }
                    }

                    .user-new-message{
                        position: absolute;
                        right: 14px;
                        top: 10px;
                        width: $user-new-message-width;
                        height: $user-new-message-height;
                        background-color: $brand-color;
                        border-radius: $user-new-message-height;
                        box-shadow: $lighter-box-shadow;
                    }
                }
            }
        }

        .sliding-panel{
            position: absolute;
            width: 100%;
            height: 100%;
            margin-left: -100%;
            transition: $regular-transtition;

            &.visible{
                margin-left: 0%;
            }
            .sliding-header{
                display: flex;
                flex-direction: row;
                min-height: $sidebar-header-height;
                background-color: $light-grey;
                align-items: center;
                padding: $regular-padding;
                border-bottom: $light-border;
                justify-content: space-between;
                border-right: $light-border;

                .panel-title{
                    font-size: $panel-title-font-size;
                    margin: 0 auto;
                }

                .close-panel{
                    position: relative;
                    color: $light-icon;
                    right: 6px;
                    font-size: $icon-font-size;

                    svg{
                        margin-left: $light-margin;

                        &:hover{
                            cursor: pointer;
                            color: $dark-icon;
                        }
                    }
                }
            }

            .sliding-body{
                height: calc(100% - #{$sidebar-header-height});
                overflow-y: auto;
                max-height: calc(100% - #{$sidebar-header-height});
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: $light-grey;
                

                .client-picture{
                    min-width: $slider-client-picture-width;
                    min-height: $slider-client-picture-height;
                    border-radius: $slider-client-picture-height;
                    background-color: blacK;
                    background-size: cover;
                    margin: $strong-margin;
                }

                .input-wrapper{
                    width: 100%;
                    padding: $strong-padding;
                    margin-top: $regular-margin;
                    margin-bottom: $regular-margin;
                    border-bottom: $light-border;

                    .input-title{
                        margin-bottom: $strong-margin;
                        color: $brand-color;
                    }

                    .input-row{
                        position: relative;
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        .textbox{
                            width: calc(100% - #{$slider-modify-button-width});
                            font-size: $slider-input-font-size;
                            border: none;
                            background-color: transparent;
                            border-bottom: 2px solid transparent;
                            outline: none;

                            &:focus{
                                border-bottom: 2px solid $brand-color;
                            }
                        }

                        .action-button{
                            position: absolute;
                            right: 0px;
                            width: $slider-modify-button-width;
                            font-size: $icon-font-size;
                            color: $light-icon;

                            svg{
                                &:hover{
                                    cursor: pointer;
                                    color: $dark-icon;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .chat-wrapper{
        position: relative;
        display: flex;
        flex-direction: column;
        width: $chat-wrapper-desktop-width;

        @media #{$tablet}{   
            width: $chat-wrapper-tablet-width;
        }

        @media #{$mobile}{   
            width: 100%;
            height: 100%;
            left: 100%;

            transition: $regular-transtition;

            &.visible{
                left: 0%;
            }
        }

        .chat-header{
            display: flex;
            flex-direction: row;
            align-items: center;
            min-height: $chat-header-height;
            background-color: $light-grey;
            border-bottom: $light-border;
            padding: $regular-padding;
            
            .hide-chat{
                display: none;
                color: $light-icon;
                font-size: $icon-font-size;

                @media #{$mobile}{
                    display: block;
                }

                &:hover{
                    color: $dark-icon;
                    cursor: pointer;
                }
            }

            .receiver-picture{
                height: $user-item-picture-height;
                width: $user-item-picture-width;
                background-size: cover;
                border-radius: $user-item-picture-width;
            }

            .receiver-body{
                display: flex;
                flex-direction: column;
                margin-left: $strong-margin;

                .receiver-name{
                    font-weight: 600;
                }

                .receiver-last-connection{
                    text-transform: capitalize;
                }
            }
        }

        .chat-body{
            position: relative;
            min-height: calc(100% - #{$chat-header-height} - #{$chat-input-height});
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            overflow-y: auto;

            @media #{$mobile}{
                min-height: calc(100% - #{$chat-header-height} - #{$chat-input-height-mobile});
            }

            .chat{
                display: flex;
                height: fit-content;
                flex-direction: column;
                padding: $stronger-padding;

                .message{
                    position: relative;
                    width: fit-content;
                    min-height: fit-content;
                    display: flex;
                    flex-direction: column;
                    background-color: $white;
                    padding: $regular-padding;
                    box-shadow: $message-shadow;
                    margin-bottom: $light-margin;
                    border-radius: $light-border-radius;

                    .text{
                        font-size: $message-text-font-size-desktop;

                        @media #{$mobile}{
                            font-size: $message-text-font-size-mobile;
                        }
                    }

                    .timestamp{
                        font-size: $message-timestamp-font-size-desktop;
                        align-self: flex-end;
                        color: $text-light;

                        @media #{$mobile}{
                            font-size: $message-timestamp-font-size-mobile;
                        }
                    }
                }

                .foreign{
                    background-color: $foreign-message-color;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 0;
                        left: -9px;
                        top: 0px;
                        border: 5px solid;
                        border-color: $foreign-message-color $foreign-message-color transparent transparent;
                    }
                }

                .local{
                    align-self: flex-end;
                    background-color: $local-message-color;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 0;
                        right: -9px;
                        top: 0px;
                        border: 5px solid;
                        border-color: $local-message-color transparent transparent $local-message-color;
                    }
                }
            }

            .splash-screen{
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .app-name{
                    font-size: $splash-name-font-size;
                    color: $brand-color;
                    font-weight: 600;
                }

                .app-logo{
                    background-image: url(../assets/splash.png);
                    height: $splash-logo-height;
                    width: $splash-logo-width;
                    background-size: cover;
                }
            }
        }

        .chat-input{
            display: flex;
            justify-content: space-around;
            align-items: center;
            min-height: $chat-input-height;
            background-color: $light-grey;
            border-top: $light-border;
            padding: $regular-padding;
            border-left: $light-border;
            
            @media #{$mobile}{
                min-height: $chat-input-height-mobile;
            }

            .textbox{
                position: relative;
                width: calc(100% - #{$action-button-width} - (#{$regular-padding} * 2) - 20px);
                height: $action-button-width;
                padding: $strong-padding;
                font-size: $chat-textbox-font-size;
                border-radius: $regular-border-radius;
                border:none;
                outline: none;

                @media #{$mobile}{
                    height: $action-button-height-mobile;
                }

                &:focus{
                    box-shadow: inset $light-box-shadow;
                }
            }

            .action-button{
                display: flex;
                justify-content: center;
                align-items: center;
                width: $action-button-width;
                height: $action-button-height;
                border-radius: $action-button-width;
                border: none;
                background-color: $brand-color;
                color: $white;
                font-size: $chat-action-button-font-size;
                transition: $light-transition;
                outline: none;

                @media #{$mobile}{
                    width: $action-button-width-mobile;
                    height: $action-button-height-mobile;
                }

                &:hover{
                    cursor: pointer;
                    box-shadow: $light-box-shadow;
                }

                &:active{
                  transform: scale(.95);
                  box-shadow: none;
                }

                &:focus{
                    box-shadow: $light-box-shadow;
                }
            }
        }
    }
}

/*Scrollbars*/

.scrollbar::-webkit-scrollbar-track
{
	background-color: transparent;
}

.scrollbar::-webkit-scrollbar
{
	width: 5px;
	background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb
{
	background-color: $scrollbar-color;
}